<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forms</title>
    <link rel="stylesheet" href="../CSS/Styles.css" />
    <link rel="stylesheet" href="../CSS/FileManagerStyles.css" />
  </head>
  <body>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content-box row">
        <div class="sticky">
          <div class="modal-header">
            <button class="modal-button" id="quit">Quit</button>
            <p class="modal-title" id="file-name"></p>
            <button class="modal-button" id="edit">Edit</button>
            <button class="modal-button" id="save">Save</button>
          </div>
        </div>
        <p class="modal-read-only" id="read-text"></p>
        <textarea class="modal-textarea" id="edit-text"></textarea>
      </div>
    </div>
  </body>
</html>
