.module-card-area {
    flex-basis: 100%;
    max-width: fit-content;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.module-card-container {
    width: 269px;
    max-height: 650px;
    border-radius: 20px;
    margin: 0px 10px 20px 10px;
    background-color: #fafafa;
    overflow: hidden;
}

.module-card-header {
    padding: 15px 15px 15px 15px;
}

.module-card-list {
    overflow: auto;
    height: 500px;
    border-top: solid 1px;
    margin-top: 15px;
}

.module-card-list-item {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.module-card-list-item:hover {
    background-color: #dbdbd9;
}

.module-card-list-item:active {
    background-color: #98a55d;

}

.current-card-area {
    display: none;
    flex-direction: column;
    /* align-self: center; */
}

.current-card {
    margin: 50px;
    padding: 20px;
    align-content: center;
    border-radius: 15px;
    min-width: 300px;
    max-width: 600px;
    background-color: #fafafa;
    cursor: pointer;
}

.current-card:hover {
    box-shadow: 10px 10px 25px 5px #dbdbd9;
}

.current-card-question {
    border-bottom: solid 1px;
    align-self: center;
    font-size: 40px;
    padding-bottom: 10px;
}

.current-card-answer {
    font-size: 20px;
    align-self: center;
    padding-top: 10px;
    display: none;
}

.answer-button-area {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.goBack-button {
    height: 40px;
    border: none;
    background-color: #fafafa;
    cursor: pointer;
    border-radius: 5px;
}

.answer-button {
    height: 40px;
    border: none;
    background-color: #fafafa;
    cursor: pointer;
    border-radius: 5px;
}

.answer-button:hover {
    box-shadow: 10px 10px 25px 5px #dbdbd9;

}