<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anki Cards</title>
    <link rel="stylesheet" href="Styles.css" />
    <link rel="stylesheet" href="AnkiCardsStyles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/3ff8e8ca0d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-box">
        <div id="Navigation"></div>
        <div class="content-box">
            <div class="row">
                <h1>Anki Cards</h1>

                <div class="row">

                    <div class="module-card-area column">
                        <div class="module-card-container">
                            <div class="module-card-header">
                                <h2>Analysis</h2>
                                <div class="module-card-list">
                                    <div class="module-card-list-item" onclick="startLearingSession()">
                                        Hallo
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="module-card-container">
                                <div class="module-card-header">
                                    <h2>Analysis</h2>
                                <div class="module-card-list">
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                    <div class="module-card-list-item">
                                        Hallo
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="module-card-container">
                            <div class="module-card-header">
                                <h2>Analysis</h2>
                                <div class="module-card-list">
                                    <div class="module-card-list-item" onclick="startLearingSession()">
                                        Hallo
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>

                <div class="current-card-area">
                    <button class="answer-button" onclick="switchBack()">Zurück</button>

                    <div class="current-card column">
                        <button class="clickable-card" onclick="toggleAnswer()">
                        <div class="row">
                            <div class="current-card-question">
                                Hier steht eine Frage?
                            </div>
                            <div class="current-card-answer">
                                Hier steht ein langer Antworttext! Hier steht ein langer Antworttext! Hier steht ein langer Antworttext! Hier steht ein langer Antworttext.
                            </div>
                        </div>
                        </button>
                    </div>

                    <div class="answer-button-area column">
                        <button class="answer-button">Very hard</button>
                        <button class="answer-button">Okay</button>
                        <button class="answer-button">Easy</button>
                        <button class="answer-button">Very easy</button>

                    </div>
                </div>
                </div>

        </div>
    </div>
    <script>
        //Navigation Code
        document.addEventListener('DOMContentLoaded', () => {
            fetch('Navigation.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('Navigation').innerHTML = html;
            })
            .catch(error => console.error('Error loading navigation:', error));
        });

        //Clickable card
        function toggleAnswer() {
            const answer = document.querySelector('.current-card-answer');
            answer.style.display = answer.style.display === 'none' || answer.style.display === '' ? 'block' : 'none';
        }

        const chooseWindow = document.querySelector('.module-card-area');
        const currentCard = document.querySelector('.current-card-area');

        //Switch to Learing Session
        function startLearingSession() {
            currentCard.style.display = currentCard.style.display === 'none' || currentCard.style.display === '' ? 'block' : 'none';
            chooseWindow.style.display = currentCard.style.display === 'none' || currentCard.style.display === '' ? 'flex' : 'none';

        }

        //Switch back
        function switchBack() {
            currentCard.style.display = currentCard.style.display === 'none' || currentCard.style.display === '' ? 'block' : 'none';
            chooseWindow.style.display = currentCard.style.display === 'none' || currentCard.style.display === '' ? 'flex' : 'none';

        }

     </script>
</body>