<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anki Cards</title>
    <link rel="stylesheet" href="CSS/Styles.css" />
    <link rel="stylesheet" href="CSS/AnkiCardsStyles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/3ff8e8ca0d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-box">
        <div id="Navigation"></div>
        <div class="content-box">
            <div class="row">
                <h1>Anki Cards</h1>
                <button class="create-module-button" onclick="showCreateModuleForm()">Create New Decks</button>
                <div class="row">

                    <div class="module-card-area">
                    </div>

                <div class="current-card-area">
                        <button class="goBack-button" onclick="quitLearningSession()">Quit</button>

                    <div class="current-card" onclick="toggleAnswer()">
                        <div class="row">
                            <div class="current-card-question">
                                Question
                            </div>
                            <div class="current-card-answer">
                                Answer
                            </div>
                        </div>
                    </div>

                    <div class="answer-button-area">
                        <button class="answer-button" onclick="verHard()">Very hard</button>
                        <button class="answer-button" onclick="okay()">Okay</button>
                        <button class="answer-button" onclick="easy()">Easy</button>
                        <button class="answer-button" onclick="veryEasy()">Very easy</button>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="forms-container"></div>

    <script src="JS/AnkiCards.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetch('Forms/AnkiCardsForms.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('forms-container').innerHTML = html;
            })
            .catch(error => console.error('Error loading forms:', error));
        });
    </script>
</body>
</html>