.moudle-card-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}

.module-card-container {
    width: 250px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fafafa;
}

.module-card-header {
    padding: 15px 15px 15px 15px;
}

.module-card-list {
    overflow: scroll;
    height: 500px;
    border-top: solid 1px;
    margin-top: 15px;
}

.module-card-list-item {
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.module-card-list-item:hover {
    box-shadow: 10px 10px 25px 5px #dbdbd9;

}

.current-card-area {
    display: none;
}

.current-card {
    align-self: center;
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 600px;
    background-color: #fafafa;
}

.current-card:hover {
    box-shadow: 10px 10px 25px 5px #dbdbd9;

}

.clickable-card {
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

.current-card-question {
    border-bottom: solid 1px;
    align-self: center;
    font-size: 40px;
    padding-bottom: 10px;
}

.current-card-answer {
    font-size: 20px;
    align-self: center;
    padding-top: 10px;
    display: none;
}

.answer-button-area {
    align-self: center;
    gap: 10px;
    margin-bottom: 50px;
}

.answer-button {
    height: 40px;
    border: none;
    background-color: #fafafa;
    cursor: pointer;
    border-radius: 5px;
}

.answer-button:hover {
    box-shadow: 10px 10px 25px 5px #dbdbd9;

}