.description-text {
    font-size: 20px;
}

.upload-container {
    text-align: center;
    align-items: center;
}

.drag-drop-area {
    border: 2px dashed grey;
    border-radius: 8px;
    padding: 40px;
    background-color: white;
    transition: background-color 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.drag-drop-area:hover {
    background-color: lightgray;
}

.drag-drop-area p {
    padding-left: 10px;
}

.left {
    min-width: 300px;
    max-width: 700px;
    margin-right: 40px;
}

.list-items {
    font-size: 20px;
    margin: 20px;
}

.right {
    min-width: 300px;
}

.centered {
    text-align: center;
}

.upload-button input[type="file"] {
    display: none;
}

.upload-button label {
    padding: 15px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #fafafa;
}

.upload-button label:hover {
    border-radius: 6px;
    box-shadow: 0px 10px 30px 0px #dbdbd9;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    /* border: 1px solid #888; */
    /* width: 80%; */ /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.modal-input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}