<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="DashboardStyles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
</head>
<body>
    <div class="main-box">
    <div id="Navigation"></div>
        <div class="content-box">
            <h1>Dashboard</h1>
            <p>Willkommen beim Lernassistenten. Hier findest du eine Vielzahl an Funktionen, die Dir helfen werden ahahahaha.</p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetch('Navigation.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('Navigation').innerHTML = html;
            })
            .catch(error => console.error('Error loading navigation:', error));
        });
    </script>
</body>