<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Lernassistent</title>
    <link rel="stylesheet" href="LoginWindowStyles.css">
</head>

<body>
    <!--Logincontainer-->
    <div class="login-container">
        <!--Überschrift-->
        <h1 class="login-header">Login</h1>

        <!--Loginfelder-->
        <div class="login-border">
            <label for="email"></label>
            <input class="login-input" type="text" id="email" placeholder="E-Mail" />
        </div>
        <div class="login-border">
            <label for="password"></label>
            <input class="login-input" type="text" id="password" placeholder="Passwort" />
        </div>

        <!--Loginbutton-->
        <button class="login-button" id="login">Login</button>

        <!--Registrieren-Link-->
        <p class="login-container-text">Du hast noch kein Konto?
            <a href="RegisterWindow.html">Registrieren</a>
        </p>
    </div>
</body>
</html>