html,
body {
  height: 100%;
  width: 100%;
  background-color: #f68464; /* orange */
  /* background-color: #c4dce0; beautiful blue*/
  /* background-color: #98a55d; beautiful green*/
  /* background-color: #50000b; beautiful red */
  /* background-color: #5d8e9f; beautiful darker blue */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  flex-basis: 900px;
  height: 550px;
  margin: 100px;
  border-radius: 30px;
  display: flex;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0px 20px 80px #dc5c37;
}

.login-left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 4;
  margin-left: 30px;
}

.login-header {
  margin-top: 120px;
  margin-bottom: 50px;
}

.login-input {
  border: none;
  border-bottom: grey 1px solid;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
  padding-left: 5px;
  padding-right: 25px;
}

.login-input:focus {
  outline: none;
}

.login-button {
  border-radius: 6px;
  padding: 10px 65px;
  border: none;
  background-color: #bfbbbc;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.login-button:hover {
  background-color: #f68464;
}

.login-button:active {
  background-color: #eb7351;
}

.login-right-side{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex: 1;
}

.login-image {
  padding: 35px;
  border-radius: 55px;
}

.register-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 4;
  margin-right: 30px;
}

.register-left-side{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex: 1;
}

.register-image {
  padding: 35px;
  border-radius: 55px;
}


/*  * {
    outline: 2px solid red;
}  */
