<!DOCTYPE html>
<html lang="de"> 
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="LoginStyles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <div class="login-left-side">
        <h1 class="login-header">Get started</h1>
        <label for="benutzername"></label>
        <input
          class="login-input"
          type="text"
          id="benutzername"
          placeholder="Benutzername"
        />
        <label for="passwort"></label>
        <input
          class="login-input"
          type="text"
          id="passwort"
          placeholder="Passwort"
        />
        <button class="login-button" id="login">Sign in</button>
        <p>Neu hier? <a href="RegisterWindow.html">Registrieren</a></p>
      </div>
      <div class="login-right-side">
        <img
          class="login-image"
          src="/assets/images/login-image.jpg"
          alt="Login Image"
        />
      </div>
    </div>
  </body>
</html>
