body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Stellt sicher, dass der Container vertikal zentriert wird */
    margin: 0; /* Entfernt Standardabstände des Browsers */
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 2px solid grey; /* Fügt eine schwarze Umrandung hinzu */
    padding: 10px;
    border-radius: 25px;
    background-color: white;
}

.login-header {}

.login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
}

.login-border {
    border-bottom-style: solid;
    border-color: grey;
    border-width: 2px;
}

.login-button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.login-container-text {}




.red {
    color: red;
}

/*p {
    margin: 100px 100px 100px 100px;
    padding: 100px 100px 100px 100px;
}*/
