<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Styles.css" />
    <link rel="stylesheet" href="NavigationStyles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
</head>
<body>
    <div class="navigation-box">
        <h1 class="navigation-header">Lernassistent</h1>
        <nav class="navbar">
          <ul>
            <li><a href="Dashboard.html">Dashboard</a></li>
            <li><a href="FileManager.html">File Manager</a></li>
            <li><a href="">Anki Cards</a></li>
            <li><a href="">etc.</a></li>
            <li><a href="">Profil</a></li>
          </ul>
        </nav>
    </div>
</body>
</html>