<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Styles.css" />
    <link rel="stylesheet" href="NavigationStyles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
</head>
<body>
    <div class="navigation-box">
        <h1 class="navigation-header">Lernassistent</h1>
        <h1 class="small-navigation-header">LA</h1>
        <nav class="navbar">
          <ul>
            <li>
              <a href="Dashboard.html">
                <i class="fas fa-house"></i>
                <span class="link-text">Dashboard</span>
              </a>
            </li>
            <li><a href="FileManager.html">
              <i class="fas fa-file"></i>
              <span class="link-text">File Manager</span>
            </a></li>
            <li>
              <a href="AnkiCards.html">
                <i class="fas fa-box-archive"></i>
                <span class="link-text">Anki Cards</span>
              </a>
            </li>
            <!-- <li>
              <a href="Profile.html">
                <i class="fas fa-user"></i>
                <span class="link-text">Profil</span>
              </a>
            </li> -->
            <li>
              <a href="Login.html">
                <i class="fas fa-right-from-bracket"></i>
                <span class="link-text">Log out</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
</body>
</html>