<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lernassistent</title>
    <link rel="stylesheet" href="LoginWindowStyles.css">
</head>

<body style="background-color: lightgrey">
    <!--Logincontainer-->
    <div class="login-container">
        <!--Überschrift-->
        <h1 class="login-header">Register</h1>

        <!--Loginfelder-->
        <div class="login-border">
            <label for="benutzername"></label>
            <input class="login-input" type="text" id="benutzername" placeholder="Benutzername" />
        </div>
        <div class="login-border">
            <label for="email"></label>
            <input class="login-input" type="text" id="email" placeholder="E-Mail" />
        </div>
        <div class="login-border">
            <label for="password"></label>
            <input class="login-input" type="text" id="password" placeholder="Passwort" />
        </div>
        <div class="login-border">
            <label for="passwort-wiederholen"></label>
            <input class="login-input" type="text" id="passwort-wiederholen" placeholder="Passwort wiederholen" />
        </div>

        <!--Loginbutton-->
        <button class="login-button" id="register">Register</button>

    </div>
</body>
</html>