<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="CSS/RegisterStyles.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/3ff8e8ca0d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="login-box">
      <div class="register-left-side">
        <img
          class="register-image"
          src="/src/main/View/assets/images/register-image.jpg"
          alt="Login Image"
        />
      </div>
      <div class="register-right-side">
        <h1 class="login-header">Register</h1>
        <label for="username"></label>
        <input
          class="login-input"
          type="text"
          id="username"
          placeholder="Username"
        />
        <label for="email"></label>
        <input
          class="login-input"
          type="text"
          id="email"
          placeholder="E-Mail"
        />
        <div class="input-wrapper">
          <label for="password"></label>
          <input
            class="login-input"
            type="password"
            id="password"
            placeholder="Password"
          />
          <div class="password-hidden-icon" onclick="showPassword()">
            <i class="fa fa-eye fa-xs"></i>
          </div>
          <div class="password-shown-icon" onclick="showPassword()">
            <i class="fa fa-eye-slash fa-xs"></i>
          </div>
        </div>
        <div class="input-wrapper">
          <label for="passwordRepeated"></label>
          <input
            class="login-input"
            type="password"
            id="passwordRepeated"
            placeholder="Repeat password"
          />
          <div
            class="password-repeated-hidden-icon"
            onclick="showPasswordRepeated()"
          >
            <i class="fa fa-eye fa-xs"></i>
          </div>
          <div
            class="password-repeated-shown-icon"
            onclick="showPasswordRepeated()"
          >
            <i class="fa fa-eye-slash fa-xs"></i>
          </div>
        </div>
        <button class="login-button" id="registerButton" disabled>
          Sign up
        </button>
        <p>Already have an account? <a href="Login.html">Back</a></p>
      </div>
    </div>

    <script>
      const registerButton = document.getElementById("registerButton");

      //enable register button only if username, email, password and password repeat are not empty
      document.addEventListener("DOMContentLoaded", function () {
        const usernameInput = document.getElementById("username");
        const emailInput = document.getElementById("email");
        const passwordInput = document.getElementById("password");
        const passwordRepeatedInput =
          document.getElementById("passwordRepeated");
        const registerButton = document.getElementById("registerButton");

        function validateInputs() {
          const username = usernameInput.value.trim();
          const email = emailInput.value.trim();
          const password = passwordInput.value.trim();
          const passwordRepeated = passwordRepeatedInput.value.trim();
          registerButton.disabled = !(
            username &&
            email &&
            password &&
            passwordRepeated
          );
        }

        usernameInput.addEventListener("input", validateInputs);
        emailInput.addEventListener("input", validateInputs);
        passwordInput.addEventListener("input", validateInputs);
        passwordRepeatedInput.addEventListener("input", validateInputs);
      });

      registerButton.onclick = () => {
        const password = document.getElementById("password").value;
        const passwordRepeated =
          document.getElementById("passwordRepeated").value;

        if (password !== passwordRepeated) {
          alert("Passwords do not match");
        } else {
          const username = document.getElementById("username").value;
          const email = document.getElementById("email").value;

          // with backend connection
          registerUser(username, email, password).then((success) => {
            if (success) {
              window.location.href = "Dashboard.html";
            }
          });

          /* // without backend connection
          window.location.href = "Dashboard.html"; */
        }
      };

      // backend connection: (POST: create_account)
      const registerUser = async (username, email, password) => {
        const url = "http://127.0.0.1:5002/register";

        const userData = {
          userName: username,
          eMail: email,
          password: password,
        };

        try {
          const response = await fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: "Bearer Token",
            },
            body: JSON.stringify(userData),
          });

          const result = await response.json();
          if (response.ok) {
            console.log("Account created successfully:", result);
            alert(result.message);
            return true;
          } else {
            console.log("Account already exists or error:", result);
            alert(result.message || "Account already exists");
          }
        } catch (error) {
          console.error("Error:", error);
          alert("Error during registration");
        }
        return false;
      };

      //Show password
      const passwordHidden = document.querySelector(".password-hidden-icon");
      const passwordShown = document.querySelector(".password-shown-icon");
      const passwordRepeatedHidden = document.querySelector(
        ".password-repeated-hidden-icon"
      );
      const passwordRepeatedShown = document.querySelector(
        ".password-repeated-shown-icon"
      );

      function showPassword() {
        const password = document.getElementById("password");

        if (password.type === "password") {
          password.type = "text";
          passwordHidden.style.display = "none";
          passwordShown.style.display = "flex";
        } else {
          password.type = "password";
          passwordHidden.style.display = "flex";
          passwordShown.style.display = "none";
        }
      }

      function showPasswordRepeated() {
        const passwordRepeated = document.getElementById("passwordRepeated");

        if (passwordRepeated.type === "password") {
          passwordRepeated.type = "text";
          passwordRepeatedHidden.style.display = "none";
          passwordRepeatedShown.style.display = "flex";
        } else {
          passwordRepeated.type = "password";
          passwordRepeatedHidden.style.display = "flex";
          passwordRepeatedShown.style.display = "none";
        }
      }
    </script>
  </body>
</html>
