html,

.column {
    display: flex;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
  height: 100%;
  width: 100%;
  background-color: #effcde; /* grün */
  /* background-color: #c4dce0; beautiful blue */
  /* background-color: #d3d7d8; graues Design*/
  /* background-color: #afb3b6; dunkelgraues Design*/
  /* background-color: #d1d1c9; weiches grau Design*/
  /* background-color: #dc5c37; rot inverted */
  /* background-color: #5d8e9f; blau inverted */
  /* background-color: #8aa3a0; chalk green */
  /* background-color: #50000b; dark red inverted */
  /* background-color: black; dark blue*/
  /* background-color: #2a313b; dark grey inverted*/
  /* background-color: #f68464; light red*/
  /* background-color: #98a55d; beautiful green*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
    background-color: #98a55d; /* grün */
    /* background-color: #5d8e9f; blaues Design */
    /* background-color: #868c98; graues Design*/
    /* background-color: #2a313b; dunkelgraues Design*/
    /* background-color: #5c5c5c; weiches grau Design*/
    /* background-color: #f68464; rot inverted */
    /* background-color: #8dc1cc; blau inverted */
    /* background-color: #8aa3a0; chalk green */
    /* background-color: #640418; dark red*/
    /* background-color: #13213c; dark blue*/
    /* background-color: #7e8494; dark grey inverted*/
    flex-basis: 100%;
    /*height: 800px*/
    height: 740px;
    margin: 10px;
    border-radius: 30px;
    display: flex;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0px 20px 80px #99a485;
    /* box-shadow: 0px 20px 80px #8dc1cc; blaues Design*/
    /* box-shadow: 0px 20px 80px #afb3b6; graues Design*/
    /* box-shadow: 0px 20px 80px #868c98; dunkelgraues Design*/
    /* box-shadow: 0px 20px 80px #8d857a; weiches grau Design*/
    /* box-shadow: 0px 20px 80px #dc5c37; rot inverted */
  }

.content-box {
    display: flex;
    flex-grow: 15;
    background-color: white;
    /* margin: 20px; */
    margin: 10px;
    padding: 40px 30px 30px 30px;
    border-radius: 25px;
  }

  h1 {
    margin-top: 0px;
  }

  h2 {
    margin-top: 10px;
  }

  ::-webkit-scrollbar{
    background-color: transparent;
  }